@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root  {
  --background: 240 100% 95%;
  --foreground: 240 5% 10%;
  --card: 240 50% 90%;
  --card-foreground: 240 5% 15%;
  --popover: 240 100% 95%;
  --popover-foreground: 240 100% 10%;
  --primary: 240 3.8% 46.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 202 30% 85%;
  --muted-foreground: 240 5% 35%;
  --accent: 202 30% 80%;
  --accent-foreground: 240 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 240 5% 90%;
  --border: 240 30% 50%;
  --input: 240 30% 26%;
  --ring: 240 3.8% 46.1%;
  --radius: 1rem;
}
.dark  {
  --background: 240 50% 10%;
  --foreground: 240 5% 90%;
  --card: 240 50% 10%;
  --card-foreground: 240 5% 90%;
  --popover: 240 50% 5%;
  --popover-foreground: 240 5% 90%;
  --primary: 240 3.8% 46.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 202 30% 25%;
  --muted-foreground: 240 5% 60%;
  --accent: 202 30% 25%;
  --accent-foreground: 240 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 240 5% 90%;
  --border: 240 30% 26%;
  --input: 240 30% 26%;
  --ring: 240 3.8% 46.1%;
  --radius: 1rem;
}

}
